swagger: '2.0'
info:
  title: Troels resume API
  description: Provides data for Angular resume website
  version: 1.0.0
host: troelslenda.com
schemes:
  - https
basePath: /api2
produces:
  - application/endomondo
paths:
  /activities:
    get:
      summary: Endomondo Activities
      description: Activities fetched from Endomondo.
      tags:
        - Activity
      responses:
        '200':
          description: An array of products
          schema:
            type: array
            items:
              $ref: '#/definitions/Activity'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /projects:
    get:
      summary: Recent Projects
      description: The most recent projects worked on.
      tags:
        - Project
      responses:
        '200':
          description: An array of projects
          schema:
            type: array
            items:
              $ref: '#/definitions/Project'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /matches:
    get:
      summary: IPSC Matches
      description: IPSC matches participated in.
      tags:
        - Activity
      responses:
        '200':
          description: An array of products
          schema:
            type: array
            items:
              $ref: '#/definitions/Activity'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  Activity:
    type: object
    properties:
      date:
        type: string
        description: date of the activity.
      activity:
        type: string
        description: 'Type of activity, could be ie. Running, Cycling, etc.'
      distance:
        type: string
        description: Distance in kilometers.
      time:
        type: string
        description: Duration of activity.
      highscore:
        type: string
        description: Hours clocked on project.
      official:
        type: string
        description: Techonologies used on the project.
  Project:
    type: object
    properties:
      name:
        type: string
        description: The name of the project
      key:
        type: string
        description: The machinename of the project
      url:
        type: string
        description: The link to the project
      logo:
        type: string
        description: The logo as SVG or base64 of the project
      description:
        type: string
        description: Description of project.
      date_from:
        type: string
        description: When did I start on the project.
      date_to:
        type: string
        description: When did i stop on the project.
      hours:
        type: array
        items:
          type: number
        description: Hours clocked on project.
      techonologies:
        type: array
        items:
          type: string
        description: Techonologies used on the project.
  IPSCMatch:
    type: object
    properties:
      name:
        type: string
        description: The name of the match
      start_date:
        type: string
        description: Time of match start
      score:
        type: array
        items:
          $ref: '#/definitions/Score'
        description: Score
      division:
        type: string
        description: Score
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
  Score:
    type: object
    properties:
      percent:
        type: number
        description: The score in percent
      a:
        type: integer
        description: The score in percent
      c:
        type: integer
        description: The score in percent
      d:
        type: integer
        description: The score in percent
      mike:
        type: integer
        description: The score in percent
      procedure:
        type: integer
        description: The score in percent
      noshoot:
        type: integer
        description: The score in percent
